@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.footer{
    width: 100%;
    position: relative;
    height: 30vh;
    background: #2E8B57;
    top: 130vh;
    bottom: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: smaller;
    color: #000;
    opacity: 0.7;
    cursor: default;
}
.scg{
    position: absolute;
    top: -22vh;
    width: 100%;
}
.main{
    display: flex;
    height: 70%;
    width: 100%;
    padding: 1vw 7vw;
    justify-content: space-between;
}
.rvu{
    width:calc(100%/3);
    font-size: larger;
    font-weight: 700;
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: 1vw;
}
@media (max-width: 768px) {
  .scg {
    display: none;
  }

  .footer {
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #2E8B57;
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 8vw 6vw 4vw 6vw;
    gap: 25px;
  }

  .rvu,
  .redirect,
  .gic {
    width: 100%;
  }

  .rvu {
    font-size: medium;
  }

  .redirect h2,
  .gic h2 {
    font-size: 1rem;
  }

  .copyright {
    font-size: 3.5vw;
    padding: 3vh 0 1vh 0;
  }
}

/* Small devices */
@media (max-width: 480px) {
  .footer {
    min-height: 50vh;
  }

  .main {
    padding: 10vw 6vw 5vw 6vw;
  }

  .rvu {
    font-size: small;
  }

  .redirect h2,
  .gic h2 {
    font-size: 0.9rem;
  }

  .copyright {
    font-size: 4vw;
    padding-bottom: 2vh;
  }
}