@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.Home{
    padding: 0;
    position: relative;
    margin:0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(var(--background--),#509857);
    overflow-x: hidden;
    cursor: none;
    z-index: 27;
}
.firstbranch{
    height: 40%;
    width: 30%;
    position: absolute; 
    transform-origin: left;
    top: -30vh;
    z-index: 35;
    animation: wave2 infinite 20s ease-in-out 1.8s;
 }
 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
 }
 .secondbranch{
    height: 40%;
    width: 50%;
    bottom: 7vh;
    transform: rotate(10deg);
    position: absolute;
    transform-origin: right;
    right: -20vw;
    z-index: 11;
    animation: wave infinite 30s cubic-bezier(.49,-0.53,.47,1.46) 1.8s;
 }
.thirdbranch{
    height: 80%;
    width: 70%;
    z-index: 11;
    bottom: -5vh;
    position: absolute;
    right: -10px;
    transform-origin: right;
    transform: rotate(0deg);
    animation: wave3 infinite 30s cubic-bezier(.38,-0.44,.6,1.16) 3s;
}
@keyframes wave {
    50%{
        transform: rotate(0deg);
    }   
}
@keyframes wave2 {
    0%,100%{
        transform: rotate(70deg);
    }
    50%{
        transform: rotate(50deg);
    }   
}
@keyframes wave3 {
   50%{
    rotate: 5deg;
   }
 }
.center{
    width: 90%;
    height: 90%;
    left: 10vh;
    top: 50px;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    color: var(--primary_green--);
    justify-content: center;
    letter-spacing: 8px;
    align-items: center;
    position: absolute;
}
.center-overlay{
    width: 90%;
    height: 90%;
    left: 10vh;
    top: 50px;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;    
    color: transparent;
    letter-spacing: 8px;
    -webkit-text-stroke:0.01px var(--primary_green--);
    z-index: 12;
}
.cursor{
    width:50px;
    height: 50px;
    z-index: 11;
    border-radius: 50%;
    position: absolute;
    background-color: green;
    opacity: 0.6;
}

.center h1 , .center-overlay h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 15vw;
    line-height: 27vh;
}
.custom-cursor{
    width: 10px;
    height: 10px;
    background-color: var(--primary_green--);
    z-index: 10;
    position: absolute;
    border-radius: 50%;
}

@media (max-width: 768px) {
  .firstbranch,
  .secondbranch,
  .thirdbranch,
  .cursor,
  .custom-cursor {
    display: none !important;
  }

  .Home {
    cursor: default;
   
  }

  .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

  .center-overlay{
    display: none;
  }

  .center h1 {
    font-size: 15vw;
    line-height: normal;
  }
}
