.Location{
    width: 100%;
    height: 130vh;
    position: relative;
    top: 100vh;
    cursor: default;
}
.right{
    width: 60%;
    height: 100%;
    position: relative;
    left: 50vw;
    overflow: hidden;
    z-index: 29;

}
.left{
width: 40%;
height: 100%;
position: absolute;
left: -7vw;
top: 25vh;
scale: 0.8;

}
.bottom{
    width:50%;
    position: absolute;
    bottom: -12vh;
    left: 2vw;
    opacity: 0.5;
}
.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.5s cubic-bezier(.04,.25,.78,.89);
}
.right::after {
    content: 'Click';
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transform: translate(-50px,-50px);
    background-color: rgba(0, 0, 0, 0.7); 
    font-size: 2vw;
    color:var(--background--); 
    opacity: 0; 
    pointer-events: none;
    transition: all 0.3s ease; 
}

.right:hover::after {
    opacity: 1; 
}
.right:hover img{
scale: 1.3;
}
@media (max-width: 768px) {
  .Location {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left,
  .bottom{
    display: none !important;
  }

  .right {
    border-radius: 10vw;
    width: 90% !important;
    height: 100vh;
    left: 0;
  }

  .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}