@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.MRI{
    position: relative;
    background-color: #2E8B57;
    width: 100vw;
    height: 100vh;
    top: 100vh;
    border-bottom-right-radius: 20%;
    cursor: default;
}
.MRI svg{
    z-index: 28;
}
.svgback{
    width: 50%;
    height: 50%;
    position: relative;
    top: 5vh;
}
.container3D{
    position: sticky;
    z-index: 28;
    inset: 0;
    overflow: hidden;
}

.righttext{
    position: relative;
    width: 50%;
    height: 100%;
    text-align: right;
    left: 50%;
    top: -35vh;
    text-wrap: nowrap;
    padding:0vh 8vh;
}
.righttext ul li{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--background--);
    font-size: 3.5vw;
    line-height: 4.2vw;
    font-weight: 400;
}
.righttext ul li{
    overflow: hidden;
}
.righttext ul li span{
    position: relative;
    top: 5vw;
}
.righttext ul li span.active {
    position: relative;
    top: 0vw;
    transition: 1s ease-out;
  }
  
@media (max-width: 768px) {
    .MRI{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .MRI svg{
display: none;
    }
    .container3D{
        display: none;
    }
    .svgback{
        display: none;
    }
    .righttext{
        position: unset;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        left: 0%;
        bottom: 0;
        padding: 0vh 5vh;
        text-align: center;
    }
    .righttext ul li{
        font-size: 6vw;
        line-height: 7vw;
    }
}
