@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.Navbar {
  width: 100vw;
  height: 15vh;
  padding: 5vh 10vh;
  left: 0;
  top: 0;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  cursor: default;
  backdrop-filter: blur(5px);
 
}

.navleft {
  font-family: "Pacifico", cursive;
  font-size: 3vw;
  color: var(--primary_green--);
  z-index: 9;
  text-align: center;
}

.navright {
  max-height: 1.7vw;
  width: 40%;
  overflow: hidden;
  font-family: 'Ubuntu';
  padding: 0.2vh 1vh;
  z-index: 9;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.navright ul {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.navright a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: all 0.3s cubic-bezier(.49, -0.53, .47, 1.46);
}

li {
  list-style: none;
  font-size: 1.4vw;
  margin-top: -2px;
  color: var(--primary_green--);
}

.navright a:hover {
  transform: translateY(-1.6vw);
}

.prof {
  overflow: hidden;
  font-family: 'Ubuntu';
  align-items: center;
  padding-bottom: 5px;
  text-align: center;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-stops: var(--primary_green--), var(--primary_green--);
  background-repeat: no-repeat;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  background-position: 0px 100%;
  background-size: 0% 0.2em;
  display: block;
}

.prof a {
  text-decoration: none;
}

.prof:hover {
  background-size: 100% 0.2em;
}

.prof.active {
  border: 2px solid #007f00;
}

.active li {
  border-bottom: 2px solid var(--primary_green--);
}

/* --------------- RESPONSIVE STYLING --------------- */

/* Mobile menu icon (hidden by default) */
.menu-toggle {
  display: none;
  color: var(--primary_green--);
  cursor: pointer;
  z-index: 100;
}

/* Mobile devices */
@media (max-width: 768px) {
  .Navbar {
    height: auto;
    padding: 3vh 6vw;

  }

  .navleft {
    font-size: 6vw;
  }

  .menu-toggle {
    display: block;
  }

  .navright {
    all: unset; 
    position: absolute;
    padding: 15vh 5vw;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: var(--background--);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .navright.open {
    transform: translateX(0%);
  }

  .navright ul {
    flex-direction: column;
    gap: 50px;
  }

  .navright a:hover {
    transform: none;
  }

  li {
    font-size: 5vw;
  }

  .prof {
    margin-top: 12vh;
  }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .navleft {
    font-size: 4vw;
  }

  li {
    font-size: 1.8vw;
  }

  .navright {
    width: 50%;
  }
}
